hack iit17

In [1]:
import numpy as np
import pandas as pd

In [2]:
# read the date into dataframe
df = pd.read_csv('flights.csv')

D:\Python\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# drop the columns that not related 
df_n=df.drop(df.columns[[0,5,6,12,13,14,15,16,18,19,25,26,27,28,29,30]], axis=1, inplace=False)

In [5]:
df_n.head(5)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,1,1,4,AS,ANC,SEA,5,2354.0,-11.0,1448,430,408.0,-22.0,0,0
1,1,1,4,AA,LAX,PBI,10,2.0,-8.0,2330,750,741.0,-9.0,0,0
2,1,1,4,US,SFO,CLT,20,18.0,-2.0,2296,806,811.0,5.0,0,0
3,1,1,4,AA,LAX,MIA,20,15.0,-5.0,2342,805,756.0,-9.0,0,0
4,1,1,4,AS,SEA,ANC,25,24.0,-1.0,1448,320,259.0,-21.0,0,0

In [31]:
[df_n['AIRLINE']]

[0          AS
 1          AA
 2          US
 3          AA
 4          AS
 5          DL
 6          NK
 7          US
 8          AA
 9          DL
 10         DL
 11         AA
 12         DL
 13         DL
 14         DL
 15         AS
 16         DL
 17         UA
 18         AS
 19         DL
 20         NK
 21         AA
 22         NK
 23         AA
 24         DL
 25         UA
 26         AS
 27         NK
 28         US
 29         AA
            ..
 5819049    AA
 5819050    B6
 5819051    AS
 5819052    AS
 5819053    AS
 5819054    AS
 5819055    AS
 5819056    AS
 5819057    NK
 5819058    DL
 5819059    F9
 5819060    F9
 5819061    F9
 5819062    F9
 5819063    UA
 5819064    UA
 5819065    UA
 5819066    UA
 5819067    AA
 5819068    AA
 5819069    B6
 5819070    B6
 5819071    B6
 5819072    B6
 5819073    B6
 5819074    B6
 5819075    B6
 5819076    B6
 5819077    B6
 5819078    B6
 Name: AIRLINE, dtype: object]

In [34]:
# replace the Airline information with numbers
dfal=pd.read_csv('airlines.csv')
dfal.index

RangeIndex(start=0, stop=14, step=1)

In [ ]:
df_nr=df_n.replace(to_replace=dfal['AIRLINE'],value=dfal.index)

In [ ]:
# replace the airport information with numbers

In [11]:
# take samples
df_n_0002 = df_n.sample(frac=0.002)

In [12]:
#check the correlations among features
df_n_0002.corr()

,MONTH,DAY,DAY_OF_WEEK,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
MONTH,1.000000,0.008248,-0.013617,-0.005443,-0.005453,-0.025864,0.003905,-0.008238,-0.011396,-0.037388,-0.010171,-0.049220
DAY,0.008248,1.000000,0.010193,-0.020806,-0.019407,-0.004435,0.012928,-0.014678,-0.008145,-0.005079,-0.002363,-0.010399
DAY_OF_WEEK,-0.013617,0.010193,1.000000,0.007342,0.000367,-0.005292,0.031177,-0.003692,-0.008413,-0.013827,-0.004821,-0.019938
SCHEDULED_DEPARTURE,-0.005443,-0.020806,0.007342,1.000000,0.965505,0.111444,-0.020408,0.697105,0.619649,0.096009,-0.013796,0.017242
DEPARTURE_TIME,-0.005453,-0.019407,0.000367,0.965505,1.000000,0.177819,-0.026739,0.699995,0.636445,0.161640,-0.010786,-0.005654
DEPARTURE_DELAY,-0.025864,-0.004435,-0.005292,0.111444,0.177819,1.000000,0.012133,0.105681,0.058982,0.948433,0.015585,0.006601
DISTANCE,0.003905,0.012928,0.031177,-0.020408,-0.026739,0.012133,1.000000,0.033254,0.020561,-0.035956,0.025332,-0.037015
SCHEDULED_ARRIVAL,-0.008238,-0.014678,-0.003692,0.697105,0.699995,0.105681,0.033254,1.000000,0.844368,0.094293,-0.004608,0.013573
ARRIVAL_TIME,-0.011396,-0.008145,-0.008413,0.619649,0.636445,0.058982,0.020561,0.844368,1.000000,0.058716,0.005721,NaN
ARRIVAL_DELAY,-0.037388,-0.005079,-0.013827,0.096009,0.161640,0.948433,-0.035956,0.094293,0.058716,1.000000,NaN,NaN
DIVERTED,-0.010171,-0.002363,-0.004821,-0.013796,-0.010786,0.015585,0.025332,-0.004608,0.005721,NaN,1.000000,-0.006370
CANCELLED,-0.049220,-0.010399,-0.019938,0.017242,-0.005654,0.006601,-0.037015,0.013573,NaN,NaN,-0.006370,1.000000

In [13]:
from sklearn.decomposition import PCA

In [14]:
# do pca analysis on the data
pca=PCA()
pcafits=pca.fit(df_n_0002)