hack iit17

In [1]:
import numpy as np
import pandas as pd

In [2]:
# read the date into dataframe
df = pd.read_csv('flights.csv')

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
df.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# drop the columns that not related
df_n=df.drop(df.columns[[0,5,6,12,13,14,15,16,18,19,23,24,25,26,27,28,29,30]], axis=1, inplace=False)

In [56]:
# replace the airline information with numbers in map x
df_al = pd.read_csv('airlines.csv')
airlinecode=pd.Series([x for x in range(len(df_al))])
airlmap=airlinecode.map(df_al['IATA_CODE'])
x = {v: k for k, v in airlmap.items()}

In [57]:
# replace the airport information with numbers in map y
df_ap = pd.read_csv('airports.csv')
airportcode=pd.Series([x for x in range(len(df_ap))])
airlmap=airportcode.map(df_ap['IATA_CODE'])
y = {v: k for k, v in airlmap.items()}

In [58]:
df_nr=df_n.replace({'AIRLINE': x,'ORIGIN_AIRPORT': y,'DESTINATION_AIRPORT': y})
df_nr.head(5)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,1,1,4,6,17,277,5,2354.0,-11.0,1448,430,408.0,-22.0
1,1,1,4,1,176,235,10,2.0,-8.0,2330,750,741.0,-9.0
2,1,1,4,2,278,66,20,18.0,-2.0,2296,806,811.0,5.0
3,1,1,4,1,176,203,20,15.0,-5.0,2342,805,756.0,-9.0
4,1,1,4,6,277,17,25,24.0,-1.0,1448,320,259.0,-21.0

In [59]:
# take samples
df_nr_0002 = df_nr.sample(frac=0.002)

In [60]:
#check the correlations among features
corr = df_nr_0002.corr()
corr

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
MONTH,1.000000,0.017562,-0.008808,-0.022026,0.002607,-0.003466,-0.031754,0.009290,-0.003278,-0.000954,-0.045629
DAY,0.017562,1.000000,0.006342,0.001608,-0.011897,-0.013518,-0.014609,0.019392,0.002044,0.002484,-0.020846
DAY_OF_WEEK,-0.008808,0.006342,1.000000,0.001430,-0.006526,-0.001260,-0.002615,0.000499,0.011274,0.018766,-0.009413
AIRLINE,-0.022026,0.001608,0.001430,1.000000,0.000991,0.005406,-0.024337,-0.280232,-0.008634,-0.003753,-0.011489
SCHEDULED_DEPARTURE,0.002607,-0.011897,-0.006526,0.000991,1.000000,0.960657,0.106367,-0.000437,0.692200,0.628774,0.095566
DEPARTURE_TIME,-0.003466,-0.013518,-0.001260,0.005406,0.960657,1.000000,0.162919,-0.009776,0.693683,0.650975,0.154673
DEPARTURE_DELAY,-0.031754,-0.014609,-0.002615,-0.024337,0.106367,0.162919,1.000000,0.023016,0.092617,0.058153,0.943773
DISTANCE,0.009290,0.019392,0.000499,-0.280232,-0.000437,-0.009776,0.023016,1.000000,0.043769,0.034966,-0.026478
SCHEDULED_ARRIVAL,-0.003278,0.002044,0.011274,-0.008634,0.692200,0.693683,0.092617,0.043769,1.000000,0.883807,0.082645
ARRIVAL_TIME,-0.000954,0.002484,0.018766,-0.003753,0.628774,0.650975,0.058153,0.034966,0.883807,1.000000,0.057847
ARRIVAL_DELAY,-0.045629,-0.020846,-0.009413,-0.011489,0.095566,0.154673,0.943773,-0.026478,0.082645,0.057847,1.000000

In [61]:
df_nr_0002.describe()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
count,11638.000000,11638.000000,11638.000000,11638.000000,11638.000000,11481.000000,11481.000000,11638.000000,11638.000000,11473.000000,11447.000000
mean,6.474738,15.613937,3.928768,6.192559,1328.051899,1333.465726,9.222542,827.745575,1491.651658,1479.221651,4.259195
std,3.404046,8.794281,1.987413,3.708617,481.218410,494.067623,36.417149,616.409045,505.537808,521.665748,38.494999
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,-30.000000,67.000000,1.000000,1.000000,-64.000000
25%,4.000000,8.000000,2.000000,3.000000,920.000000,921.000000,-5.000000,373.000000,1110.000000,1059.000000,-13.000000
50%,6.000000,16.000000,4.000000,8.000000,1328.000000,1333.000000,-2.000000,651.000000,1524.000000,1519.000000,-5.000000
75%,9.000000,23.000000,6.000000,9.000000,1729.000000,1735.000000,7.000000,1067.000000,1915.000000,1917.000000,7.000000
max,12.000000,31.000000,7.000000,13.000000,2359.000000,2359.000000,773.000000,4983.000000,2359.000000,2400.000000,766.000000

In [62]:
df_nr_0002 = df_nr_0002.dropna()

In [63]:
from sklearn.decomposition import PCA
df_nr_0002.isnull().any()

MONTH                  False
DAY                    False
DAY_OF_WEEK            False
AIRLINE                False
ORIGIN_AIRPORT         False
DESTINATION_AIRPORT    False
SCHEDULED_DEPARTURE    False
DEPARTURE_TIME         False
DEPARTURE_DELAY        False
DISTANCE               False
SCHEDULED_ARRIVAL      False
ARRIVAL_TIME           False
ARRIVAL_DELAY          False
dtype: bool

In [64]:
# do pca analysis on the data
pca=PCA(n_components = 6)
pcafits=pca.fit(df_nr_0002)
pcafits

PCA(copy=True, iterated_power='auto', n_components=6, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [65]:
df_pca=pca.transform(df_nr_0002)
df_pca

array([[ -1.55826629e+03,  -6.26245329e+02,  -3.65505968e+02,
          1.66013799e+02,  -2.92609637e+01,  -3.90198786e+00],
       [ -1.56857778e+03,   3.85332335e+02,   7.98636678e+02,
         -1.72121265e+02,  -4.89374132e+02,  -3.84463098e+01],
       [ -1.52957154e+03,   6.61305847e+02,  -6.04456107e+00,
         -1.02579583e+02,  -8.45350094e+01,   9.24493042e+01],
       ...,
       [ -1.53406537e+03,   1.82771057e+02,  -6.50905732e+02,
         -9.91279097e+01,   1.66258311e+01,  -3.68840623e+01],
       [  1.41806616e+04,  -5.91652417e+02,   3.47736674e+02,
         -7.92677809e+00,  -1.29267497e+02,   1.46396974e+02],
       [ -1.41695795e+03,   2.67753547e+02,   1.88404759e+02,
         -2.43142777e+00,  -4.63553607e+01,   7.35945509e+01]])